<h1>Listing scrapers</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Company</th>
    <th>Title</th>
    <th>Url</th>
    <th>Last checked</th>
    <th>Description</th>
    <th>Experience required</th>
    <th>Date pos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scrapers.each do |scraper| %>
  <tr>
    <td><%= scraper.title %></td>
    <td><%= scraper.company_id %></td>
    <td><%= scraper.title %></td>
    <td><%= scraper.url %></td>
    <td><%= scraper.last_checked %></td>
    <td><%= scraper.description %></td>
    <td><%= scraper.experience_required %></td>
    <td><%= scraper.date_pos %></td>
    <td><%= link_to 'Show', scraper %></td>
    <td><%= link_to 'Edit', edit_scraper_path(scraper) %></td>
    <td><%= link_to 'Destroy', scraper, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scraper', new_scraper_path %>
