<h1>Listing presses</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Snippet</th>
    <th>Url</th>
    <th>Source</th>
    <th>Company</th>
    <th>Job</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @presses.each do |press| %>
  <tr>
    <td><%= press.title %></td>
    <td><%= press.snippet %></td>
    <td><%= press.url %></td>
    <td><%= press.source %></td>
    <td><%= press.company_id %></td>
    <td><%= press.job_id %></td>
    <td><%= press.updated_at %></td>
    <td><%= link_to 'Show', press %></td>
    <td><%= link_to 'Edit', edit_press_path(press) %></td>
    <td><%= link_to 'Destroy', press, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Press', new_press_path %>
