<%= semantic_form_for(:job, :url => search_jobs_url, :html => {:method => :GET, :class => "form-inline"} ) do %>
<h4>Jobs or Internships?</h4>
<%= check_box_tag(:internship, 1, true) %>
<%=	label_tag(:internship, "internships") %>
<%=		check_box_tag(:job, 1, true) %>
<%=		label_tag(:job, "jobs")
%>
 <h4>Include Technical Positions? </h4>
<%= check_box_tag(:technical, 1, true) %>
<%= label_tag(:technical, "technical") %>
<%= check_box_tag(:not_technical, 1, true) %>
<%= label_tag(:not_technical, "fuck that, I can't code")%>
<h4>Last Question! What stage startup do you want to work at?</h4>
<%= check_box_tag(:stage_one, 1, true) %>
<%=	label_tag(:stage_one, "Early") %>
<%=	check_box_tag(:stage_two, 1, true) %>
<%=	label_tag(:stage_two, "Mid") %>
<%=	check_box_tag(:stage_three, 1, true) %>
<%=	label_tag(:stage_three, "late") %>
<br>
<%= submit_tag("Find jobs!", :class => "btn btn-primary") %>
<% end %>
