<% content_for :head do %>
<style>
	.sidebar-nav select, input {
		width: 150px;
	}
</style>
<% end %>
<script>
$(document).ready(function() {	
		$('#example').dataTable( {
			"sDom": "<'row'<'span9'l>r>t<'row'<'span9'i><'span9'>p>",
			"sPaginationType": "bootstrap",
			"iDisplayLength": 10,
			"oLanguage": {
				"sLengthMenu": ""
			},
			"aoColumnDefs": [ 

					{ "sWidth": "5%", "aTargets": [ 4 ] } 

					]

		} )
		.columnFilter({aoColumns:[
			{ sSelector: "#titleFilter",},
			{ type:"select",  sSelector: "#typeFilter" },
			{ type:"select", sSelector: "#technicalFilter" },
			{ sSelector: "#companyFilter" },
			null,
			null,
			null,
			]}
		);	

	});
	</script>
	<div class="row">
		<div class="span4">
			<div class="well sidebar-nav">
				<form class="">
					<fieldset>
						<div id="techfiltersidebar" class="control-group">
							<label class="control-label" for="techfiltersidebar">Show only technical jobs?</label>
							<div class="controls">
								<p id="technicalFilter"></p>
							</div>
						</div>
						<div id="typefiltersidebar" class="control-group">
							<label class="control-label" for="typefiltersidebar">What kind of position?</label>
							<div class="controls">
								<p id="typeFilter"></p>
							</div>
						</div>
						<div id="titleFiltersidebar" class="control-group">
							<label class="control-label" for="typefiltersidebar">Search by Job Title</label>
							<div class="controls">
								<p id="titleFilter"></p>
							</div>
						</div>
						<div id="companyFiltersidebar" class="control-group">
							<label class="control-label" for="companyFiltersidebar">Search by Company</label>
							<div class="controls">
								<p id="companyFilter"></p>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<!-- end side bar !-->
		</div>
		<div class="span8">
			<h1>Find a job you love at a vetted startup in NYC </h1>
			<br>
			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example" width='100%'>
				<thead>
					<tr>
						<th>Job Title</th > 
						<th>Type</th>
						<th>Techie Only?</th>
						<th>Company</th>
						<th>Founded</th>
						<th># of ppl</th>
						<th>VC</th>
						<th>Save</th>
					</tr>
				</thead>
				<tbody>
					<% @jobs.each do |job| %>
						<tr>
							<td> <a href='<%= job.url %>'> <%= job.title %></a></td>
							<td><%= if job.internship == true
								"Internship"
							else 
								"Job"
							end
									 %></td>
							<td><%= if job.technical == true 
								 	"Technical"
								else
									"Not"
									end %></td>
							<td><a href='<%=job.company.url unless job.company.nil? %>'><%= job.company.name unless job.company.nil? %> </a></td>
							<td><%= job.company.founded unless job.company.nil? %> </td>
							<td><%= job.company.employees unless job.company.nil? %> </td>
							<td><%= job.company.funding_string unless job.company.nil? %> </td>
							<td><%= button_to 'save job', saved_jobs_path(job_id: job, user_id: current_user.id ) %></td>
						
						</tr>
					<% end %>

				</tbody>
				<tfoot style="display:none;">
					<tr>
						<th>Job Title</th > 
						<th>Type</th>
						<th>Techie Only?</th>
						<th>Company</th>
						<th>Founded</th>
						<th># of ppl</th>
						<th>VC</th>
						<th>Save</th>
					</tr>
				</tfoot>
			</table>
			
		</div>
	</div>
