

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="" width='100%'>

  <thead>
    <th>Company</th>
    <th>Description</th>
    <th>Founded</th>
    <th>Employees</th>
    <th>Funding</th>
	<th>Delete</th>
  </thead>

<% @saved_companies.each do |saved_company| %>
<tr>
	<td><a href='companies/<%= saved_company.company.id %>'> <%= saved_company.company.name %></a></td>
	<td><%= saved_company.company.description %></td>
	<td><%= saved_company.company.founded %></td>
	<td><%= saved_company.company.employees %></td>
	<td><%= saved_company.company.funding_string %></td>
    <td><%= link_to 'Delete', saved_company, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
<tfoot>
  <th>Job Title</th>
  <th>Company</th>
  <th>Founded</th>
  <th>Employees</th>
  <th>Funding String</th>
<tfoot>

</table>
