
 <div id="navbar" class="navbar navbar-static">
      <div class="navbar-transparent">
        <div class="container">       
          <a class="brand" href="/"><%= image_tag "nav_logo.png" %> </a>
           <ul class="nav pull-right">
          <li>
            <%= link_to "Jobs", jobs_url %>
          </li>
          <li>
            <%= link_to "Companies", companies_url %>
          </li>
          <li>
          </li>
          <li>
            <a href="mailto:noah@startupnyc.com">Feedback</a>
          </li>
  <% if user_signed_in? %>
             <li> <%= link_to "Signout", destroy_user_session_url, :method => :delete %> </li>
            <% else %>
            <li><%=  link_to "Sign in", new_session_path(resource_name) %></li>
          <%  end %>
        </ul>
          
      </div>
    </div>
  </div>