<div class="span4 well lform">
                   <%= render 'jobs/search'%>

</div>
            <div class="span7 home_carousel no_margin_left pull-right">
                <!-- Start slideshow-carousel -->
                <div id="carousel-loader" style="display: none; ">
                </div>
                <div id="carousel" class="showcase" style="display: block; width: 590px; ">
                    <div style="overflow: hidden; position: relative; " class="showcase-content-container">
                    </div>
                    <div class="showcase-arrow-next" style="display: none; ">
                    </div>
                    <div class="showcase-arrow-previous" style="display: none; ">
                    </div>
                    <div style="overflow: hidden; position: relative; height: 326px; " class="showcase-content-container">
                        <div id="showcase-content-2" style="overflow: hidden; position: absolute; width: 590px; height: 326px; left: 0px; "
                        class="showcase-content">
                            <div class="showcase-content">
                                <a href="http://wbpreview.com/previews/WB02793H5/property.html" style=""><img src="http://static2.businessinsider.com/image/50346093ecad042d7600000d-650/foursquare-office-tour.jpg" alt=""></a>
                            </div>
                            <div class="showcase-caption carousel-caption" style="">
                                <a href="http://wbpreview.com/previews/WB02793H5/property.html"><h4>FourSquare</h4>
          <p>5</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // end of slideshow-carousel -->
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <h3>
                    <span>
                        Latest
                    </span>
                    Jobs
                </h3>
                <p>
                                            <%= render "/jobs/latestjobs" %>

                    <a href="http://wbpreview.com/previews/WB02793H5/map_properties.html"
                    class="pull-right">more...</a>
                </p>
            </div>
            <div class="span4">
                <h3>
                    <span>
                        Newest
                    </span>
                    Companies
                </h3>
                <p>
 <%  companies = Company.find(:all, :limit => 10, :order => :id)

                            companies.each do |company| 
                %>
                    
                    <li> <a href='companies/<%= company.id %>'>  <%= company.name %></a> Jobs: <%= company.jobs.count %> </li>
              
                
            <% end  %>                    <a href="http://wbpreview.com/previews/WB02793H5/listings.html" class="pull-right">more...</a>
                </p>
            </div>
            <div class="span4">
                <h3>
                    <span>
                        Featured Jobs
                    </span>
                    
                </h3>
                <p>
<div class='span3'>
  <div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>

</div>                    <a href="http://wbpreview.com/previews/WB02793H5/listings.html" class="pull-right">more...</a>
                </p>
            </div>