
<div class="span7" style="margin-right: 20px;">
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="companytable">
  	<thead>
  		<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Funding</th>
		<th>Founded</th>
		<th>Employees</th>
		<th># Jobs</th>
		<% if user_signed_in? %>
			<th>Save Company</th>
			<% end %>
		</tr>
  	</thead>

	<tbody>
		<% @companies.each do |company | %>
			<tr>
  				<td><%= link_to company.name, company %></td>
				<td><%= company.description %></td>
				<td><%= company.funding_string %></td>
				<td><%= company.founded %></td>
				<td><%= company.employees %></td>
				<td><%= company.jobs.count %></td>

				<% if  user_signed_in?  %>
						<td><%=
					button_to 'save company', saved_companies_path(company_id: company, user_id: current_user.id  ) %></td>
				<%	else 
						
					end  %>
			</tr>

		<% end  %>
	</tbody>
	<tfoot style="display:none;">
		<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Funding</th>
		<th>Founded</th>
		<th>Employees</th>
		<th># Jobs</th>
		<% if user_signed_in? %>
			<th>Save Company</th>
			<% end %>
		</tr>
	</tfoot>	
</table>
</div>