<div class="span8">
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="companytable">
  	<thead>
		<th>Name</th>
		<th>Description</th>
		<th>Funding</th>
		<th>Founded
		<th>Employees</th>
		<th>Save Company</th>
  	</thead>

	<tbody>
		<% @companies.each do |company | %>
			<tr>
  				<td><a href='/companies/<%= company.id %>'> <%= company.name %></a></td>
				<td><%= company.description %></td>
				<td><%= company.funding_string %></td>
				<td><%= company.founded %></td>
				<td><%= company.employees %></td>
				<td><%= if  user_signed_in?  
					button_to 'save company', saved_companies_path(company_id: company, user_id: current_user.id  )
					else 
						 "sign in to save jobs" 
					end %></td>
			</tr>
		<% end %>
	</tbody>
	<tfoot>
		<th>Name</th>
		<th>Description</th>
		<th>Funding</th>
		<th>Employees</th>
		<th> # of jobs </th>
		<th></th>
	</tfoot>	
</table>
</div>