<script>

$(document).ready(function() {  

$('#companytable').dataTable(
     {
      "sDom": "<'row'<'span9'l>r>t<'row'<'span9'i><'span9'>p>",
      "sPaginationType": "bootstrap",
      "iDisplayLength": 10,
      "oLanguage": {
        "sLengthMenu": ""
      }

      });
});


</script>
<div class="span8">
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="companytable">
  	<thead>
  		<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Funding</th>
		<th>Founded</th>
		<th>Employees</th>
		<th># Jobs</th>
		<% if user_signed_in? %>
			<th>Save Company</th>
			<% end %>
		</tr>
  	</thead>

	<tbody>
		<% @companies.each do |company | %>
		<% if company.employees > 0 && company.jobs.count > 0 %>
			<tr>
  				<td><a href='/companies/<%= company.id %>'> <%= company.name %></a></td>
				<td><%= company.description %></td>
				<td><%= company.funding_string %></td>
				<td><%= company.founded %></td>
				<td><%= company.employees %></td>
				<td><%= company.jobs.count %></td>

				<% if  user_signed_in?  %>
						<td><%=
					button_to 'save company', saved_companies_path(company_id: company, user_id: current_user.id  ) %></td>
				<%	else 
						
					end  %>
			</tr>

		<% end end %>
	</tbody>
	<tfoot>
		<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Funding</th>
		<th>Founded</th>
		<th>Employees</th>
		<th># Jobs</th>
		<% if user_signed_in? %>
			<th>Save Company</th>
			<% end %>
		</tr>
	</tfoot>	
</table>
</div>