<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Description</b>
  <%= @company.description %>
</p>

<p>
  <b>Url:</b>
  <%= @company.url %>
</p>

<p>
  <b>Funding:</b>
  <%= @company.funding %>
</p>

<p>
  <b>Employees:</b>
  <%= @company.employees %>
</p>
<p>
	Jobs Page:  <%= @company.jobs_url %>
</p>
<p>Stage (1-3): <%= @company.stage %><p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
