<p id="notice"><%= notice %></p>
<div class="span12">
	<span class="center-align">
  <h2><%= @company.name %></h2><p>

</img>
</span>
</p>

</div>
<div class="span6">
<table id="companystats" class="table table-striped table-bordered" >
	<tr>
		<td> <b>Founded</b></td>
		<td><%= @company.founded %></td>
	</tr>
	<tr>
		<td> <b>Employees</b></td>
		<td><%= @company.number_of_employees %></td>
	</tr>
	<tr>
		<td><b>Funding</b></td>
		<td><%= @company.funding_string %></td>
	</tr>
	<tr>
		<td><b>Website</b></td>
		<td><%= link_to  @company.name+" Site", @company.url %><br>
	  </td>
	</tr>
	<tr>
		<td><b>Jobs page:</b></td>
	  <td><%= link_to @company.name+" Job Page", @company.jobs_url %><br></td>
	</tr>
	<tr><td><b>Twitter</td>
		<td> <%= link_to "twitter", @company.twitter_url %></td>
		</tr>
	  
 </table>

</div>
<div class="span6">
	<p>
  		<h2>Overview</h2>
  		<%= raw @company.company_overview %>
	</p>
			<%= link_to 'Back', companies_path %>

</div>
<div class="row">
	<div class="span6">
		</div>
	<div class="span2">
	</div>
	<div class="span4">
	</div>
		<% link_to 'Edit', edit_company_path(@company) %> |
		
</div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered span8" id="table">
	<thead>
		<tr>
			<th>Job Title</th > 
			<th>Type</th>
			<th>Techie Only?</th>
			<th>Created at</th>
			<th>Save</th>
		</tr>
	</thead>
	<tbody>
		<% @company.jobs.each do |job| %>
			<tr>
				
				<td><%= job.id %> <a href='<%= job.url %>'> <%= job.title %></a></td>
				<td><%= if job.internship == true
					"Internship"
				else 
					"Job"
				end
						 %></td>
				<td><%= if job.technical == true 
					 	"Technical"
					else
						"Not"
						end %></td>
							<td><%= time_ago_in_words(job.created_at) %> ago</td>

				<td><%= if  user_signed_in?  
					button_to 'save job', saved_jobs_path(job_id: job, user_id: current_user  )
					else 
						 "sign in to save jobs" 
					end %></td>
			
			</tr>
		<% end %>

	</tbody>
	<tfoot style="display:none;">
		<tr>
			<th>Job Title</th > 
			<th>Type</th>
			<th>Techie Only?</th>
			<th>Company</th>
			<th>Founded</th>
			<th># of ppl</th>
			<th>VC</th>
			<th>Save</th>
		</tr>
	</tfoot>
</table>
