<h3>Saved Jobs</h3>
<ul>
		<% @user.saved_jobs.limit(5).order(:created_at).reverse_order.each  do |saved_job| %>
				<li><%= link_to saved_job.job.title, saved_job.job.url %> at 
				<a href='/companies/<%= saved_job.job.company.id %>'> <%= saved_job.job.company.name %></a>
			    <span class="delete_button">		    	
			    <%= link_to "X", saved_job, :method => :delete, :remote => true %></span></li>
			<% end %>
</ul>
<%= link_to "see all", saved_jobs_path %>