<h1>Listing saved_jobs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Job</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @saved_jobs.each do |saved_job| %>
  <tr>
    <td><%= saved_job.user_id %></td>
    <td><%= saved_job.job_id %></td>
    <td><%= link_to 'Show', saved_job %></td>
    <td><%= link_to 'Edit', edit_saved_job_path(saved_job) %></td>
    <td><%= link_to 'Destroy', saved_job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Saved job', new_saved_job_path %>
