<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @saved_job.job.company.name %>
</p>

<p>
  <b>Job:</b>
  <%= @saved_job.job.title %>
</p>


<%= link_to 'Edit', edit_saved_job_path(@saved_job) %> |
<%= link_to 'Back', saved_jobs_path %>
