<div class="span12"><p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @saved_job.job.company.name %>
</p>

<p>
  <b>Job:</b>
  <%= @saved_job.job.title %>
</p>


<%= link_to 'Edit', edit_saved_job_path(@saved_job) %> |
<%= link_to 'Back', saved_jobs_path %>
</div>

<%= form_tag("/jobs/", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>			
