<h1>Listing hidden_jobs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Job</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hidden_jobs.each do |hidden_job| %>
  <tr>
    <td><%= hidden_job.user_id %></td>
    <td><%= hidden_job.job_id %></td>
    <td><%= link_to 'Show', hidden_job %></td>
    <td><%= link_to 'Edit', edit_hidden_job_path(hidden_job) %></td>
    <td><%= link_to 'Destroy', hidden_job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hidden job', new_hidden_job_path %>
