<%= simple_form_for(@skill_tag) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :angel_tag_id %>
    <%= f.input :angel_tag_url %>
    <%= f.input :crunchbase_tag_id %>
    <%= f.input :crunchbase_tag_url %>
    <%= f.input :is_technical %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
