<!DOCTYPE html>
<html>
	<head>
		<title>StartupNYC.org</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta name="google-site-verification" content="Rp5S5lygOd8hSVIBYIkwvGYDiEPNU7aLB7Jk2tihJZo" />
		
		<% yield :head %>
		
	</head>
	<body>
		
		<%= render "shared/navbar" %>
		<div class="container">
			<div class="row">
			
				<%= yield %>
				
			</div>
		</div>
	</body>
	
	
	
</html>
